/* CSS del Template di Airbnb Towns Page (Viewport Ed.) */

/* Reset margini e paddin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Classe per il box relativo alla singola città */
.town {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* Classe particolarizzata per Roma */
.rome {
  background-image: url(../img/rome_fhd.jpg);
  background-size: cover;
}
/* Classe particolarizzata per Copenaghen */
.copenaghen {
  background-image: url(../img/copenaghen_fhd.jpg);
  background-size: cover;
}
/* Classe particolarizzata per Tokyo */
.tokyo {
  background-image: url(../img/tokyo_fhd.jpg);
  background-size: cover;
}
/* Classe relativa al titolo del box città */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  text-shadow: 4px 4px 10px darkcyan;
  z-index: 999;
}
/* Classe espansa sul box città per creare l'effetto oscurità */
.fog {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* Classe con selettore hover per eliminare oscurità */
.town:hover .fog {
  display: none;
}
